**/.elixir-tools
**/.elixir_ls
**/.projections.json
.DS_Store
.direnv
.elixir_ls
.env
.envrc
.init.vim
.snippets
.stylua.toml
.timelog
.tmux
.tool-versions
.vscode
Dockerfile.dev
nvim/lazy-lock.json
vscode.code-workspace
.aider*
.claude*
Claude.md
