**/.elixir-tools
**/.elixir_ls
**/.expert
**/.projections.json
.DS_Store
.claude*
.direnv
.elixir_ls
.env
.envrc
.init.vim
.luarc.json
.snippets
.stylua.toml
.timelog
.tmux
.tool-versions
.vscode
Claude.md
Dockerfile.dev
nvim/lazy-lock.json
vscode.code-workspace
