[core]
	excludesfile = ~/.gitignore
	editor = nvim
[user]
	name = Felipe Vieira
	email = nvieirafelipe@gmail.com
[push]
	default = simple
	followTags = true
[merge]
  tool = meld
[credential]
	helper = store
