[user]
  name = Felipe Vieira
  email = nvieirafelipe@gmail.com

[credential "https://github.com"]
  helper = !gh auth git-credential
[credential "https://gist.github.com"]
  helper = !gh auth git-credential
[credential]
  helper = store

[core]
  excludesfile = ~/.gitignore
  editor       = nvim
  pager        = delta
[commit]
  gpgSign = true
  verbose = true
[diff]
  colorMoved = default
[init]
  defaultBranch = main
[interactive]
  diffFilter = delta --color-only
[merge]
  conflictstyle = zdiff3
[pull]
  ff = only
[push]
  default = simple
  followTags = true

[delta]
  file-modified-label       = 
  line-numbers              = true
  line-numbers-left-format  = ""
  line-numbers-right-format = "│ "
  navigate                  = true
  side-by-side              = true
  syntax-theme              = Dracula
