# git
alias ga="git add"
alias gb="git branch"
alias gc="git commit"
alias gco="git checkout"
alias gd="git diff"
alias gf="git fetch"
alias gl="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative"
alias gp="git push"
alias gr="git remote"
alias grc="git rebase --continue"
alias gs="git status"

# workspace
alias developer="cd ~/Developer"

# os
alias ls="ls -FG"

# symfony
alias symfony="php symfony"

# symfony 2
alias sf="php app/console"

# composer
alias composer="php composer.phar"