alias bundle="nocorrect bundle"

alias glog="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative"

alias ta="tmux attach -t"
alias td="tmux detach"
alias tl="tmux list-sessions"
alias tk="tmux kill-session -t"
alias tK="tmux kill-server"
alias tkw="tmux kill-window"
alias tkp="tmux kill-pane"
alias ts="tmux new-session -s"
alias tw="tmux new-window -n"

alias ga="gia"
alias gst="gwS"
alias gd="gwD"
