alias bundle="nocorrect bundle"
alias ruby="nocorrect ruby"
alias iex="nocorrect iex"
alias mix="nocorrect mix"
alias eza="nocorrect eza"

unalias -m "ls"
unalias -m "ll"
alias ls='eza -G  --color auto --icons -a -s type'
alias ll='eza -l --color always --icons -a -s type'

unalias -m "cat"
alias cat='bat --theme="Dracula"'

alias glog="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative"

alias ta="tmux attach -t"
alias td="tmux detach"
alias tl="tmux list-sessions"
alias tk="tmux kill-session -t"
alias tK="tmux kill-server"
alias tkw="tmux kill-window"
alias tkp="tmux kill-pane"
alias ts="tmux new-session -s"
alias tw="tmux new-window -n"

alias gc="git commit --gpg-sign --verbose"
alias ga="gia"
alias gan="gc --amend --no-edit"
alias gst="gwS"
alias gd="gwd"

alias portainer_create="docker run --name=portainer \
                                   -d \
                                   -p 8000:8000 \
                                   -p 9000:9000 \
                                   --restart=always \
                                   -v /var/run/docker.sock:/var/run/docker.sock \
                                   -v portainer_data:/data portainer/portainer-ce:latest > /dev/null; echo 'Portainer created!'"
alias portainer_start="docker start portainer > /dev/null; echo 'Portainer started!'"
alias portainer_stop="docker stop portainer > /dev/null; echo 'Portainer stopped!'"
alias portainer_remove="docker rm portainer > /dev/null; echo 'Portainer removed!'"
